<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="/static/bootstrap5/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/css/root.css" rel="stylesheet">
    <title>display</title>
</head>
<body>
    <div class="display">
        <div class="left">
            <!-- 侧边导航栏 -->
        </div>
        <div class="right">
            <!-- 图表信息 -->
        </div>
    </div>
    
    <script src="/static/bootstrap5/js/bootstrap.min.js"></script>
    <script src="/static/bootstrap5/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/jquery-3.6.1.min.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
</body>
</html>