<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body>
    <div class="main">
        <div class="nav">
            <!-- 导航 -->
            <div class="nav-left">
                <!-- 系统名称以及图表 -->
            </div>
            <div class="nav-ceneter">
                <!-- 功能 -->
            </div>
            <div class="nav-right">
                <!-- 搜索以及登录头像显示 -->
            </div>
        </div>
        <div class="main">
            <!-- 主要模块 -->
            <div class="left">
                <div class="logininfo">
                    <!-- 登录信息 -->
                    <div class="logininfo-head">
                        <img class="img-circle" src="img.jpg" alt="头像"/>
                        <span>Hi~ Cxy</span>
                    </div>
                    <div class="logininfo-body">
                        <div class="card" style="width: 18rem;">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">上次登录</li>
                                <li class="list-group-item">查询次数</li>
                                <li class="list-group-item">修改次数</li>
                                <li class="list-group-item">导入次数</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="yesday">
                    <!-- 昨日票务营收 -->
                    <div class="yesday-head">
                        <span>昨日票务营收</span>
                    </div>
                    <div class="yesday-body">
                        <div class="card" style="width: 18rem;">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">现金</li>
                                <li class="list-group-item">收入</li>
                                <li class="list-group-item">二维码</li>
                                <li class="list-group-item">银联闪付</li>
                                <li class="list-group-item">市民卡</li>
                                <li class="list-group-item">合计</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <!-- 票务走势图 -->
                <span>票务收入走势图(银行实收)</span>
                <div class="linechart">
                    <!-- 图表 https://blog.csdn.net/a1076454380/article/details/101214621 -->
                </div>
                <div class="abstract">
                    <!-- 摘要信息 -->
                    <div class="abstract-list">
                        <span>开始时间:</span>
                    </div>
                    <div class="abstract-list">
                        <span>结束时间:</span>
                    </div>
                    <div class="abstract-list">
                        <span>最高收入:</span>
                    </div>
                    <div class="abstract-list">
                        <span>最低收入:</span>
                    </div>
                    <div class="abstract-list">
                        <span>收入总计:</span>
                    </div>
                    <div class="abstract-list">
                        <span>天数:</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="pw">
            <!-- 票务模块 -->
            <div class="pw-hight">
                <!-- 单日最高 -->
            </div>
            <div class="pw-proportion">
                <!-- 收入占比, 比例图-->
            </div>
            <div class="pw-other">
                <div class="pw-subcategories">
                    <!-- 子类别统计 -->
                </div>
                <div class="pw-total">
                    <!-- 收入总计 -->
                </div>
            </div>
        </div>
        <div class="yx">
            <!-- 营销模块 -->
            <div class="yx-left">
                <div class="yx-total">
                    <!-- 总计信息 -->
                </div>
                <div class="yx-ranking">
                    <!-- 排名 -->
                </div>
            </div>
        </div>
        <div class="function">
            <!-- 功能模块 -->
            <div class="function-tj">
                <!-- 统计介绍 -->
            </div>
            <div class="function-cx">
                <!-- 查询介绍 -->
            </div>
            <div class="function-rd">
                <!-- 导入介绍 -->
            </div>
        </div>
        <div class="foot">
            <!-- 尾部 -->
        </div>
    </div>
</body>
</html>