<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="/static/bootstrap5/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/css/home.css" rel="stylesheet">
    <link href="/static/css/root.css" rel="stylesheet">
    <title>HomePage</title>
</head>
<body>
    <div class="main">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">票务数据分析系统</a>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">首页</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">数据统计</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">数据分析</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">数据导入</a>
                        </li>
                    </ul>
                </div>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit"><span class="bi bi-search"></span></button>
                </form>
            </div>
        </nav>
        <div class="mainshow">
            <!-- 主要模块 -->
            <div class="mainshow-left">
                <div class="logininfo">
                    <!-- 登录信息 -->
                    <div class="logininfo-head">
                        <img class="img-circle" src="img.jpg" alt="头像"/>
                        <span>Hi~ Cxy</span>
                    </div>
                    <div class="logininfo-body">
                        <div class="card" style="width: 18rem;">
                            <div class="card-header">
                                操作信息
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">上次登录</li>
                                <li class="list-group-item">查询次数</li>
                                <li class="list-group-item">修改次数</li>
                                <li class="list-group-item">导入次数</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="yesday">
                    <!-- 昨日票务营收 -->
                    <div class="card" style="width: 18rem;">
                        <div class="card-header">
                            昨日票务营收
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">现金</li>
                            <li class="list-group-item">收入</li>
                            <li class="list-group-item">二维码</li>
                            <li class="list-group-item">银联闪付</li>
                            <li class="list-group-item">市民卡</li>
                            <li class="list-group-item">合计</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="mainshow-right">
                <!-- 票务走势图 -->
                <span>票务收入走势图（银行实收）</span>
                <div class="linechart">
                    <!-- 图表 https://blog.csdn.net/a1076454380/article/details/101214621 -->
                </div>
                <div class="abstract">
                    <!-- 摘要信息 -->
                    <div class="abstract-list">
                        <span>开始时间:</span>
                    </div>
                    <div class="abstract-list">
                        <span>结束时间:</span>
                    </div>
                    <div class="abstract-list">
                        <span>最高收入:</span>
                    </div>
                    <div class="abstract-list">
                        <span>最低收入:</span>
                    </div>
                    <div class="abstract-list">
                        <span>收入总计:</span>
                    </div>
                    <div class="abstract-list">
                        <span>天数:</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="pw">
            <!-- 票务模块 -->
            <div class="pw-hight">
                <!-- 单日最高 -->
            </div>
            <div class="pw-proportion">
                <!-- 收入占比, 比例图-->
            </div>
            <div class="pw-other">
                <div class="pw-subcategories">
                    <!-- 子类别统计 -->
                </div>
                <div class="pw-total">
                    <!-- 收入总计 -->
                </div>
            </div>
        </div>
        <div class="yx">
            <!-- 营销模块 -->
            <div class="yx-left">
                <div class="yx-total">
                    <!-- 总计信息 -->
                </div>
                <div class="yx-ranking">
                    <!-- 排名 -->
                </div>
            </div>
        </div>
        <div class="function">
            <!-- 功能模块 -->
            <div class="function-tj">
                <!-- 统计介绍 -->
            </div>
            <div class="function-cx">
                <!-- 查询介绍 -->
            </div>
            <div class="function-rd">
                <!-- 导入介绍 -->
            </div>
        </div>
        <div class="foot">
            <!-- 尾部 -->
        </div>
    </div>
    
    <script src="/static/bootstrap5/js/bootstrap.min.js"></script>
    <script src="/static/bootstrap5/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/jsencrypt.min.js"></script>
    <script src="/static/js/jquery-3.6.1.min.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
</body>
</html>